@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #FDA4AF,
    ),
  ),
);

@import "element-plus/theme-chalk/src/index";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-darkest;
    @apply transition-colors;
  }

  body {
    @apply dark:bg-gray-darkest;
  }

  svg, svg * {
    //chrome svg默认颜色不继承
    color: inherit;
  }

  .el-button > span {
    color: inherit;
  }

  .el-notification {
    background-color: #1f2d3d;
  }

  .glasses {
    @apply backdrop-blur-lg rounded-3xl shadow-sm bg-white bg-opacity-10 dark:bg-gray-darkest dark:bg-opacity-40;
    border: 1px solid rgba(var(--el-bg-color), 0.2);
    border-right: 1px solid rgba(var(--el-bg-color), 0.1);
    border-bottom: 1px solid rgba(var(--el-bg-color), 0.1);
  }
}

.el-notification {
  @extend .glasses;
  @apply bg-opacity-60 dark:bg-opacity-60;
}

.dark .el-notification {
  --el-notification-title-color: #fffbf0;
  --el-notification-content-color: #fffbf0;
}

.el-notification__content * {
  color: inherit;
}