@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #FDA4AF,
    ),
  ),
);

@import "element-plus/theme-chalk/src/index";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dosis";
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/dosis/v25/HhyJU5sn9vOmLxNkIwRSjTVNWLEJt7Ql2xMCbKsUPqjm.woff") format("woff");
}

@layer base {
  * {
    @apply text-gray-darkest;
    @apply transition-colors;
  }

  body {
    @apply dark:bg-gray-darkest;
  }

  svg, svg * {
    //chrome svg默认颜色不继承
    color: inherit;
  }

  .el-button > span {
    color: inherit;
  }

  .el-notification {
    background-color: #1f2d3d;
  }

  .glasses {
    @apply backdrop-blur-lg rounded-3xl shadow-sm bg-white bg-opacity-10 dark:bg-gray-darkest dark:bg-opacity-40;
    border: 1px solid rgba(var(--el-bg-color), 0.2);
    border-right: 1px solid rgba(var(--el-bg-color), 0.1);
    border-bottom: 1px solid rgba(var(--el-bg-color), 0.1);
  }

  .truncate-2 {
    @apply truncate;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.el-notification {
  @extend .glasses;
  @apply bg-opacity-60 dark:bg-opacity-60;
}

.dark .el-notification {
  --el-notification-title-color: #fffbf0;
  --el-notification-content-color: #fffbf0;
}

.el-notification__content * {
  color: inherit;
}

// 愿逝者安息🙏
html {
  //filter: grayscale(100%);
  //filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}